*{
padding:0;
margin:0;
box-sizing: border-box;

}
.page {
  width: 900px;
  margin: 0 auto;
  overflow:hidden;
  background-color: #EAEDF0;
}
.menu{
 height:100px;
  background-color: #B2D6FF;
}
.sidebar{
  height:300px;
 width:200px;
background-color: #F09A9D;
float:left;
}
.content{
  float:left;
  height:500px;
 width:650px;
  background-color: #F5CF8E;

}
.footer{
  height:200px;
 clear:both;
  background-color:#D6E9FE;

}
.container{
  overflow:hidden;
  background-color: #EAEDF0;
}
.column{
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;
}
